.main_chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        = @group.name
      .RightHeader___memberList
        .RightHeader__member
          Member :
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "RightHeader__editButton" do
      Edit
  .MessageList
    = render @messages
  -# .MessageList
  -#   .MessageBox
  -#     .MessageInfo
  -#       .MessageInfo__userName
  -#         tomokiito
  -#       .MessageInfo__date
  -#         2020/7/6(thr) 16:44:01
  -#     .Message
  -#       こんにちは！
  -#   .MessageBox
  -#     .MessageInfo
  -#       .MessageInfo__userName
  -#         tomokiito
  -#       .MessageInfo__date
  -#         2020/7/6(thr) 17:03:01
  -#     .Message
  -#       こんばんは！
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContents', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__inputImage')
          = f.file_field :image, class: 'Form__inputImage__file'
      = f.submit 'send', class: 'Form__submit'

